aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
akshare==1.10.9
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.1
backoff==2.2.1
beautifulsoup4==4.11.2
blinker==1.6
browser-cookie3==0.19.1
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
chinesestockapi==1.4
click==8.1.3
cohere==4.1.3
colorama==0.4.6
contourpy==1.1.0
coverage==7.2.0
cssselect==1.2.0
curl-cffi==0.5.7
cycler==0.11.0
dataclasses-json==0.5.13
decorator==5.1.1
distlib==0.3.6
dnspython==2.4.1
docker==6.1.3
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.0
fake-useragent==1.1.1
fastapi==0.100.1
filelock==3.10.7
fire==0.5.0
Flask==2.2.2
Flask-Cors==4.0.0
-e git+https://github.com/dotku/demo-flask.git@123a69b43996cd73253448c4e0b495f2bb9e9729#egg=flaskr
fonttools==4.41.1
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
googletrans==4.0.0rc1
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
html5lib==1.1
httpcore==0.3.0
httptools==0.6.0
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.0.0
importlib-resources==5.12.0
iniconfig==2.0.0
install==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
jsonlines==3.1.0
jsonpath==0.82
jsonschema==4.17.3
kiwisolver==1.4.4
langchain==0.0.230
langchainplus-sdk==0.0.20
langcorn==0.0.12
langsmith==0.0.15
Levenshtein==0.21.1
loguru==0.7.0
lxml==4.9.2
lz4==4.3.2
MailGw-Temporary-Email==0.0.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.7.2
mdurl==0.1.2
multidict==4.7.6
mypy-extensions==1.0.0
names==0.3.0
nomic==1.1.4
num2words==0.5.12
numexpr==2.8.4
numpy==1.24.2
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
outcome==1.2.0
packaging==23.0
pandas==2.0.3
parse==1.19.0
Pillow==9.5.0
pinecone-client==2.2.2
pipenv==2023.3.20
pipreqs==0.4.13
platformdirs==3.2.0
plotly==5.15.0
pluggy==1.0.0
protobuf==3.20.3
py-mini-racer==0.6.0
pyarrow==11.0.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.18.0
pydantic==1.10.7
pydeck==0.8.0
pydub==0.25.1
pyee==8.2.2
PyExecJS==1.5.1
Pygments==2.14.0
pymailtm==1.1.1
Pympler==1.0.1
pyparsing==3.0.9
PyPasser==0.0.5
pypdf==3.15.0
pyperclip==1.8.2
pypinyin==0.49.0
pyppeteer==1.0.2
pyquery==2.0.0
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.2.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
random-password-generator==2.2.0
random-username==1.0.2
rapidfuzz==3.1.1
regex==2023.6.3
requests==2.28.2
requests-async==0.5.0
requests-html==0.10.0
retrying==1.3.4
rfc3986==1.5.0
rich==13.3.3
sanic==19.6.0
scikit-learn==1.3.0
scipy==1.11.1
selenium==4.8.2
semver==3.0.0
setuptools-docker==1.1.1
simplejson==3.19.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
SpeechRecognition==3.8.1
SQLAlchemy==2.0.19
starlette==0.27.0
streamlit==1.20.0
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.3.0
threadpoolctl==3.2.0
tiktoken==0.4.0
tls-client==0.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.3.2
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
tushare==1.2.89
TwoCaptcha==0.0.1
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ujson==5.8.0
urllib3==1.26.14
uvicorn==0.23.2
uvloop==0.17.0
validators==0.20.0
virtualenv==20.21.0
virtualenv-clone==0.5.7
w3lib==2.1.1
waitress==2.1.2
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==11.0.3
Werkzeug==2.2.3
wonderwords==2.2.0
wsproto==1.2.0
xlrd==2.0.1
yarg==0.1.9
yarl==1.8.2
youtube-dl==2021.12.17
zipp==3.14.0
